 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .main-container {
     max-width: 1440px;
     height: fit-content;
     padding: 52px 135px;
     margin: 0 auto;
     font-family: 'Mulish';
 }

 /* menu-section */
 .menu-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 45px;
 }

 .menu-header {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .menu-item ul {
     display: flex;

 }

 .menu-item ul li {
     list-style: none;
 }

 .menu-item ul li a {
     text-decoration: none;
     color: #070211;
     padding: 0px 35px;
 }

 .hidden {
     display: none;
     height: 30px;
     width: 30px;
 }


 /* p=color: rgba(19, 19, 24, 0.70);
     h=color: #131318; */
 .banner-box {
     padding-top: 106px;
     padding-bottom: 106px;
     background-repeat: no-repeat;
     /* width: 1170px; */
     height: fit-content;
     border-radius: 16px;
     background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
 }


 .banner-box-title {
     color: #FFF;
     font-size: 64px;
     font-weight: 800;
     text-align: center;
     margin-bottom: 15px;


 }

 .banner-box-description {
     color: #FFF;
     text-align: center;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     width: 676px;
     margin: 0 auto;
     margin-bottom: 40px;


 }

 .banner-form {
     display: flex;
     justify-content: center;
     width: 60%;
     margin: 0 auto;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
     padding: 16px;
     gap: 24px;



 }

 .banner-form .banner-select {
     outline: 0;
     border: none;
     border-radius: 8px;
     background: #FFF;
     width: 20%;
     padding: 0 18px;
     /* appearance: none; */

 }

 .banner-form input[type=text] {
     width: 20%;
     border: none;
     outline: 0;
     border-radius: 8px;
     background: #FFF;
     padding: 0 18px;

 }

 .btn-primary {
     display: flex;
     gap: 5px;
     align-items: center;
     border-radius: 8px;
     background: #FF5400;
     border: none;
     color: #FFF;
     padding: 12px 18px;
 }

 .btn-primary img {
     width: 15px;
     height: 15px;

 }

 /* popular section */
 .popular-container {
     display: flex;
     justify-content: space-between;
     margin-top: 100px;
     margin-bottom: 100px;
 }

 .popular-box {
     width: 527px;
     margin-bottom: 24px;
 }

 .popular-box-header {
     color: #131318;
     font-size: 40px;
     font-weight: 800;
     margin-bottom: 24px;

 }

 .popular-box-description {
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     margin-bottom: 24px;

 }


 .popular-img img {
     width: 540px;
     height: 550px;
 }

 .btn-secondary {
     border-radius: 8px;
     background: #FF5400;
     padding: 14px 34px;
     color: #FFF;
     border: none;
     cursor: pointer;
 }

 /* Destination section */
 .destination-section-box1 {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
 }

 .destination-section-box1 .destination_image_wraper {
     position: relative;
 }

 .destination-section-box1 .destination_image_wraper p {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     color: white;
 }

 .destination-section-title {
     color: #131318;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     margin-bottom: 20px;

 }

 .destination-section-description {
     color: rgba(19, 19, 24, 0.70);
     margin: 0 auto;
     width: 700px;
     text-align: center;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;

 }

 .destination-section-item {
     margin-top: 40px;
     display: grid;
     gap: 10px;
 }

 /* why choose section */
 .why-choose-container {
     margin-top: 100px;

 }

 .why-choose-card-double {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
 }

 .why-choose-title {
     color: #131318;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     margin-bottom: 20px;
 }

 .why-choose-description {
     color: rgba(19, 19, 24, 0.70);
     margin: 0 auto;
     width: 700px;
     text-align: center;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     margin-bottom: 50px;
 }

 .why-choose-card-box {
     border-radius: 16px;
     border: 1px solid rgba(251, 181, 99, 0.20);
     background: rgba(251, 181, 99, 0.05);
 }

 .why-choose-card {
     padding: 32px;
 }

 .why-choose-card-box1 {
     border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
 }

 .why-choose-card-box2 {
     margin: 0 auto;
     border-radius: 16px;
     border: 1px solid rgba(233, 68, 68, 0.20);
     background: rgba(233, 68, 68, 0.05);
     width: 573px;
     margin-top: 25px;
 }

 .why-choose-card-text {
     color: #131318;
     font-size: 24px;
     font-weight: 800;
     margin-top: 16px;

 }

 .why-choose-card-description {
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 400;
     margin-top: 16px;

 }


 /* news-letter-section */
 .news-letter-container {
     margin-top: 100px;
     display: flex;
     justify-content: space-between;
     gap: 30px;
     /* flex-wrap: wrap; */
 }

 .news-letter-box {
     border-radius: 16px;
     border: 1px solid #FF5400;
     padding: 30px;
 }

 .news-letter-title {
     color: #131318;
     font-size: 24px;
     font-weight: 800;
     margin-bottom: 15px;

 }


 .news-letter-text {
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 20px;

 }

 .news-letter-search input {
     border-radius: 8px;
     background: rgba(19, 19, 24, 0.05);
     width: 100%;
     border: none;
     outline: 0;
     padding: 16px 20px;
     margin-top: 20px;

 }

 .submit {
     border-radius: 8px;
     background: #FF5400;
     width: 100%;
     text-align: center;
     padding: 16px 20px;
     color: #FFF;
     border: none;
     color: #FFF;
     font-size: 15px;
     font-weight: 600;
     margin-top: 16px;

 }

 /* footer-section */
 .footer-container {
     background: rgba(19, 19, 24, 0.05);
 }

 .footer-box {
     padding-top: 110px;
     padding-bottom: 110px;
     text-align: center;
 }

 .footer-merge {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }

 .footer-header {
     color: #131318;
     font-size: 32px;
     font-weight: 800;
     font-family: Mulish;
     margin-bottom: 15px;

 }

 .footer-description {
     color: #5A5A5D;
     text-align: center;
     font-family: Mulish;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;
     width: 769px;
     margin: 0 auto;
 }

 .short {

     width: 872px;
     margin: 0 auto;
     margin-bottom: 40px;
 }


 .footer-text-change {
     color: #FF5400;
     font-size: 32px;
     font-weight: 800;
 }

 .footer-box-icon {
     margin-bottom: 40px;
     margin-top: 30px;
 }

 /* responsive for mobile device */
 /* responsive for mobile device */
 /* responsive for mobile device */

 @media screen and (max-width: 600px) {

     /* menu-section */
     .main-container {
         padding: 30px;
     }

     .menu-item ul {
         display: none;
     }

     .hidden {
         display: block;
     }

     /* banner-section */
     .banner-box {
         background-repeat: no-repeat;
         width: 100%;
         border-radius: 16px;
         height: 483px;

     }

     .banner-form {
         flex-direction: column;
         width: 287px;
         border-radius: 8px;
         background: rgba(255, 255, 255, 0.30);

     }

     .banner-box-title {
         color: #FFF;
         font-size: 22px;
         font-weight: 800;
         margin-top: -90px;

     }

     .banner-box-description {
         color: #FFF;
         text-align: center;
         font-size: 14px;
         font-weight: 400;
         margin: 0 auto;
         margin-bottom: 20px;
         width: 300px;
     }

     .banner-form input[type=text] {
         width: 100%;
         border: none;
         outline: 0;
         border-radius: 8px;
         background: #FFF;
         padding: 15px;

     }

     .btn-primary {
         gap: 10px;
         justify-content: center;
         border-radius: 8px;
         background: #FF5400;
         color: #FFF;

     }

     .banner-form .banner-select {
         outline: 0;
         border: none;
         border-radius: 8px;
         background: #FFF;
         width: 100%;
         padding: 15px;
         /* appearance: none; */

     }

     /* popular-section */
     .popular-container {
         flex-direction: column;
         margin-top: 24px;
         margin-bottom: 100px;
     }

     .popular-img img {
         width: 100%;
         height: 520px;
     }

     .popular-box {
         width: 100%;
     }

     /* news-later */
     .news-letter-container {
         margin-top: 100px;
         flex-direction: column;
         gap: 30px;
         width: 100%;
     }

     .news-letter-img img {
         width: 100%;
     }

     /* destination section */
     .destination-section-description {
         width: 100%;
     }

     .destination-section-box1 .destination_image_wraper img {
         width: 100%;
     }

     .destination_image_wraper {
         width: 100%;
     }

     /* footer section */

     .footer-merge {

         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 20px;
     }

     .footer-box {
         padding: 35px 44px;
         text-align: center;
     }

     .footer-header {
         color: #131318;
         font-family: Mulish;
         font-size: 21.543px;
         font-weight: 800;


     }

     .footer-description {
         color: #5A5A5D;
         text-align: center;
         font-family: Mulish;
         font-size: 16px;
         font-weight: 400;
         width: 287px;
         margin: 0 auto;
     }

     .footer-logo img {
         width: 28.724px;
         height: 33.516px;
     }


     .short {

         width: 335px;
         margin: 0 auto;
         margin-bottom: 40px;
     }


     .footer-text-change {
         color: #FF5400;
         font-family: Mulish;
         font-size: 21.543px;
         font-weight: 800;

     }

     /* why choose section */

     .why-choose-container {
         margin-top: 100px;
         text-align: start;


     }

     .why-choose-card-double {
         grid-template-columns: 1fr;
         gap: 20px;
     }

     .why-choose-title {
         color: #131318;
         font-size: 20px;
         font-weight: 800;
         text-align: center;

     }

     .why-choose-description {
         color: rgba(19, 19, 24, 0.70);
         width: 100%;
         font-size: 14px;
         font-weight: 400;
         text-align: center;
     }

     .why-choose-card-text {
         color: #131318;
         font-size: 20px;
         font-weight: 800;
     }

     .why-choose-card-description {
         color: #5A5A5D;
         font-size: 14px;
         font-weight: 400;
         line-height: 24px;

     }

     .why-choose-card-box {
         width: 100%;
         border-radius: 16px;
         border: 1px solid rgba(251, 181, 99, 0.20);
         background: rgba(251, 181, 99, 0.05);
     }

     .why-choose-card-box1 {
         width: 100%;
         border-radius: 16px;
         border: 1px solid rgba(41, 206, 246, 0.20);
         background: rgba(41, 206, 246, 0.05);
     }

     .why-choose-card-box2 {

         border-radius: 16px;
         border: 1px solid rgba(233, 68, 68, 0.20);
         background: rgba(233, 68, 68, 0.05);
         width: 100%;
         margin-top: 25px;

     }

     .why-choose-card-description {
         color: #5A5A5D;
         font-size: 16px;
         font-weight: 400;
         margin-top: 16px;
         width: 100%;

     }




 }